
{{!-- reference: https://startbootstrap.com/theme/clean-blog --}}

<div class="masthead">
    <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div>
                {{toDate dream.date}}
                <h1>{{dream.title}}</h1>
                <h4>with {{dream.emotions}} emotions; {{dream.colorfulness}}</h4>
            </div>
            <hr>
            <br>
            <div>
                <p class="typewriter">{{dream.narration}}</p>
            </div>

        </div>
    </div>
</div>
